<% flash.each do |type, message| %>
  <div class="container mt-3">
    <div class="alert <%= type == "notice" ? "alert-success" : "alert-danger" %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
<% end %>
