<footer class="bg-secondary text-whitet text-center py-2 mt-6">
  <div class="container">
    <small>
      © <%= Time.current.year %> Profile Aggregator · Desafio Técnico
    </small>
  </div>
</footer>